server:
  port: ${PORT:8080}

spring:

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
        format_sql: true

  jackson:
    time-zone: UTC

  mail:
    host: ${SPRING_MAIL_HOST}
    port: ${SPRING_MAIL_PORT}
    username: ${SPRING_MAIL_USERNAME}
    password: ${SPRING_MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

app:
  admin-email: ${APP_ADMIN_EMAIL}

firebase:
  bucket: ${FIREBASE_BUCKET}
  service:
    account:
      path: ${FIREBASE_SERVICE_ACCOUNT_PATH:}
      json: ${FIREBASE_SERVICE_ACCOUNT_JSON:}

logging:
  level:
    root: INFO
    com.magicfield: DEBUG
    org.springframework.mail: DEBUG